body {
    margin: 5%;
    font-family: Roboto;
}

h1 {
    margin-top:0;
    font-size: 40px;
}

p {
    font-size: 16px;
}

.card {
  width: 45%;
  float:left;
  box-sizing: border-box;
}

img {
    max-width: 90%;
}
/* Toks css selektorius ieskos input elemento .form-input-field elemento viduje */
.form-input-field input {
    /* Stengtis nenaudoti fiksuotu px reiksmiu auksciui ir plociui */
    width:75%;
    padding: 15px;
    margin: 10px;
    font-size: 16px;
    /* Sintakses klaida, neuzdarytas color, tada css ignoruoja eilutes einancias toliau */
    color:grey;
    background-color: #f3f3f3;
    border-style: none;
    border-radius: 5px;
}

#button {
    /* width: 90px; */
    padding: 10px;
    margin: 10px;
    color:white;
    background-color: black;
    border-radius: 5px;
}

textarea {
    font-size: 16px;
    background-color: #f3f3f3;
    color:grey;
    margin: 10px;
    padding:15px;
    border-style: none;
    border-radius: 5px;
    width: 75%;
}